<a href="https://colab.research.google.com/github/lejaaprianza/Belajar-Pandas-Python/blob/main/Pandas_tutorial_dari_Indonesia_Belajar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas 01 | Menyertakan Prefix dan Suffix pada seluruh Kolom Pandas Data Frame | Python Pandas

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)), columns = cols)

df

   A  B  C  D  E
0  4  7  3  8  9
1  1  9  8  7  7
2  7  9  7  2  9
3  5  8  6  5  9
4  7  4  6  2  3

In [4]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [5]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        4        7        3        8        9
1        1        9        8        7        7
2        7        9        7        2        9
3        5        8        6        5        9
4        7        4        6        2        3

In [6]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        4        7        3        8        9
1        1        9        8        7        7
2        7        9        7        2        9
3        5        8        6        5        9
4        7        4        6        2        3